div{
    height: 10em;
    width: 10em;
    background-color: blueviolet;
    position: relative;
    top: 10em;
    left:10em;
    border-radius: 10%;
    animation-name: bob;
    animation-duration: 5s;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes bob{
    50%{
        transform: scale(0.5) rotate(360deg) translateX(20em);
        background-color:khaki;
    }
    to{
        background-color: crimson;
    }
}