input[type="text"]{
    border-style: solid;
    border-color: tomato;
    border-width: 1px;
    padding: 0.2em 0.4em;
    background-color: darksalmon;
    color: darkslateblue;
    border-radius: 5%;
}